
{{#each blogposts}}
<section class="card">
    <header><h1><a href="/blogpost/{{id}}">{{title}}</a></h1></header>
    <p>{{post_body}}</p>
    <h2>Posted by {{user.username}}</h2>
</section>
{{/each}}